
{% extends 'base.html' %}

{% block content %}
{% if category_posts %}
<h1>{{cats}}</h1>
{% for post in category_posts %}
<ul>
	
	<li>
		<a href="{% url 'article_detail' post.pk %}">{{post.title}}</a>-{{ post.author.first_name }}
		{{post.post_date}}
		{% if user.is_authenticated %}
		{%if user.id == post.author.id %}
-<small><a href="{% url 'update_post' post.pk %}">Edit</a>
<a href="{% url 'delete_post' post.pk %}">Delete</a>
{%endif%}
{% endif %}

		</small><br>
		{{post.body|slice:":200"|safe}}
	</li>
	
</ul>
{% endfor %}
{%else%}
<h1>Sory</h1>
{%endif%}

{% endblock %}
